EXPO_PUBLIC_API_URL=https://blossom-chatbot-back.onrender.com
# No estaremos usando esto por ahora, pero es importante para futuras referencias.
# Asegúrate de reemplazar "TU_IP_LOCAL" con la dirección IP de tu máquina local
# para que la aplicación móvil pueda comunicarse con el backend correctamente.
